.light.theme-corporate {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.21 0.03 264.67);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.03 264.67);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.03 264.67);
  --primary: oklch(0.48 0.2 260.48);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 264.7);
  --secondary-foreground: oklch(0.37 0.03 259.73);
  --muted: oklch(0.97 0 264.7);
  --muted-foreground: oklch(0.55 0.02 264.37);
  --accent: oklch(0.95 0.02 261.78);
  --accent-foreground: oklch(0.48 0.2 260.48);
  --destructive: oklch(0.58 0.22 27.33);
  --border: oklch(0.93 0.01 264.6);
  --input: oklch(0.93 0.01 264.6);
  --ring: oklch(0.48 0.2 260.48);
  --chart-1: oklch(0.48 0.2 260.48);
  --chart-2: oklch(0.56 0.24 260.95);
  --chart-3: oklch(0.4 0.16 259.09);
  --chart-4: oklch(0.43 0.16 259.85);
  --chart-5: oklch(0.29 0.07 260.37);
  --sidebar: oklch(0.97 0 264.7);
  --sidebar-foreground: oklch(0.21 0.03 264.67);
  --sidebar-primary: oklch(0.48 0.2 260.48);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.95 0.02 261.78);
  --sidebar-accent-foreground: oklch(0.48 0.2 260.48);
  --sidebar-border: oklch(0.93 0.01 264.6);
  --sidebar-ring: oklch(0.48 0.2 260.48);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark.theme-corporate {
  --background: oklch(0.26 0.03 262.71);
  --foreground: oklch(0.93 0.01 264.6);
  --card: oklch(0.3 0.03 261.75);
  --card-foreground: oklch(0.93 0.01 264.6);
  --popover: oklch(0.3 0.03 261.75);
  --popover-foreground: oklch(0.93 0.01 264.6);
  --primary: oklch(0.56 0.24 260.95);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.35 0.04 262.16);
  --secondary-foreground: oklch(0.93 0.01 264.6);
  --muted: oklch(0.3 0.03 261.75);
  --muted-foreground: oklch(0.71 0.02 261.33);
  --accent: oklch(0.33 0.04 264.82);
  --accent-foreground: oklch(0.93 0.01 264.6);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.35 0.04 262.16);
  --input: oklch(0.35 0.04 262.16);
  --ring: oklch(0.56 0.24 260.95);
  --chart-1: oklch(0.56 0.24 260.95);
  --chart-2: oklch(0.48 0.2 260.48);
  --chart-3: oklch(0.69 0.17 256);
  --chart-4: oklch(0.43 0.16 259.85);
  --chart-5: oklch(0.29 0.07 260.37);
  --sidebar: oklch(0.26 0.03 262.71);
  --sidebar-foreground: oklch(0.93 0.01 264.6);
  --sidebar-primary: oklch(0.56 0.24 260.95);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.33 0.04 264.82);
  --sidebar-accent-foreground: oklch(0.93 0.01 264.6);
  --sidebar-border: oklch(0.35 0.04 262.16);
  --sidebar-ring: oklch(0.56 0.24 260.95);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}
