.light.theme-elegant-luxury {
  --background: oklch(0.98 0 56.38);
  --foreground: oklch(0.22 0 0);
  --card: oklch(0.98 0 56.38);
  --card-foreground: oklch(0.22 0 0);
  --popover: oklch(0.98 0 56.38);
  --popover-foreground: oklch(0.22 0 0);
  --primary: oklch(0.47 0.15 24.94);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0.04 89.09);
  --secondary-foreground: oklch(0.48 0.1 75.12);
  --muted: oklch(0.94 0.01 53.44);
  --muted-foreground: oklch(0.44 0.01 73.64);
  --accent: oklch(0.96 0.06 95.62);
  --accent-foreground: oklch(0.4 0.13 25.72);
  --destructive: oklch(0.44 0.16 26.9);
  --border: oklch(0.94 0.03 80.99);
  --input: oklch(0.94 0.03 80.99);
  --ring: oklch(0.47 0.15 24.94);
  --chart-1: oklch(0.51 0.19 27.52);
  --chart-2: oklch(0.47 0.15 24.94);
  --chart-3: oklch(0.4 0.13 25.72);
  --chart-4: oklch(0.56 0.15 49);
  --chart-5: oklch(0.47 0.12 46.2);
  --sidebar: oklch(0.94 0.01 53.44);
  --sidebar-foreground: oklch(0.22 0 0);
  --sidebar-primary: oklch(0.47 0.15 24.94);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.96 0.06 95.62);
  --sidebar-accent-foreground: oklch(0.4 0.13 25.72);
  --sidebar-border: oklch(0.94 0.03 80.99);
  --sidebar-ring: oklch(0.47 0.15 24.94);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 1px 1px 16px -2px oklch(0 0 0 / 0.06);
  --shadow-xs: 1px 1px 16px -2px oklch(0 0 0 / 0.06);
  --shadow-sm: 1px 1px 16px -2px oklch(0 0 0 / 0.12), 1px 1px 2px -3px oklch(0 0 0 / 0.12);
  --shadow: 1px 1px 16px -2px oklch(0 0 0 / 0.12), 1px 1px 2px -3px oklch(0 0 0 / 0.12);
  --shadow-md: 1px 1px 16px -2px oklch(0 0 0 / 0.12), 1px 2px 4px -3px oklch(0 0 0 / 0.12);
  --shadow-lg: 1px 1px 16px -2px oklch(0 0 0 / 0.12), 1px 4px 6px -3px oklch(0 0 0 / 0.12);
  --shadow-xl: 1px 1px 16px -2px oklch(0 0 0 / 0.12), 1px 8px 10px -3px oklch(0 0 0 / 0.12);
  --shadow-2xl: 1px 1px 16px -2px oklch(0 0 0 / 0.3);
}

.dark.theme-elegant-luxury {
  --background: oklch(0.22 0.01 56.04);
  --foreground: oklch(0.97 0 106.42);
  --card: oklch(0.27 0.01 34.3);
  --card-foreground: oklch(0.97 0 106.42);
  --popover: oklch(0.27 0.01 34.3);
  --popover-foreground: oklch(0.97 0 106.42);
  --primary: oklch(0.51 0.19 27.52);
  --primary-foreground: oklch(0.98 0 56.38);
  --secondary: oklch(0.47 0.12 46.2);
  --secondary-foreground: oklch(0.96 0.06 95.62);
  --muted: oklch(0.27 0.01 34.3);
  --muted-foreground: oklch(0.87 0 56.37);
  --accent: oklch(0.56 0.15 49);
  --accent-foreground: oklch(0.96 0.06 95.62);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.37 0.01 67.56);
  --input: oklch(0.37 0.01 67.56);
  --ring: oklch(0.51 0.19 27.52);
  --chart-1: oklch(0.71 0.17 22.22);
  --chart-2: oklch(0.64 0.21 25.33);
  --chart-3: oklch(0.58 0.22 27.33);
  --chart-4: oklch(0.84 0.16 84.43);
  --chart-5: oklch(0.77 0.16 70.08);
  --sidebar: oklch(0.22 0.01 56.04);
  --sidebar-foreground: oklch(0.97 0 106.42);
  --sidebar-primary: oklch(0.51 0.19 27.52);
  --sidebar-primary-foreground: oklch(0.98 0 56.38);
  --sidebar-accent: oklch(0.56 0.15 49);
  --sidebar-accent-foreground: oklch(0.96 0.06 95.62);
  --sidebar-border: oklch(0.37 0.01 67.56);
  --sidebar-ring: oklch(0.51 0.19 27.52);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}
