.light.theme-midnight-bloom {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.57 0.2 283.08);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.82 0.07 249.35);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.82 0.02 91.62);
  --muted-foreground: oklch(0.54 0 0);
  --accent: oklch(0.65 0.06 117.43);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.57 0.2 283.08);
  --chart-1: oklch(0.57 0.2 283.08);
  --chart-2: oklch(0.53 0.17 314.65);
  --chart-3: oklch(0.34 0.18 301.68);
  --chart-4: oklch(0.67 0.14 261.34);
  --chart-5: oklch(0.59 0.1 245.74);
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.57 0.2 283.08);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.65 0.06 117.43);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.87 0 0);
  --sidebar-ring: oklch(0.57 0.2 283.08);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 10px -2px oklch(0 0 0 / 0.05);
  --shadow-xs: 0px 5px 10px -2px oklch(0 0 0 / 0.05);
  --shadow-sm: 0px 5px 10px -2px oklch(0 0 0 / 0.1), 0px 1px 2px -3px oklch(0 0 0 / 0.1);
  --shadow: 0px 5px 10px -2px oklch(0 0 0 / 0.1), 0px 1px 2px -3px oklch(0 0 0 / 0.1);
  --shadow-md: 0px 5px 10px -2px oklch(0 0 0 / 0.1), 0px 2px 4px -3px oklch(0 0 0 / 0.1);
  --shadow-lg: 0px 5px 10px -2px oklch(0 0 0 / 0.1), 0px 4px 6px -3px oklch(0 0 0 / 0.1);
  --shadow-xl: 0px 5px 10px -2px oklch(0 0 0 / 0.1), 0px 8px 10px -3px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0px 5px 10px -2px oklch(0 0 0 / 0.25);
}

.dark.theme-midnight-bloom {
  --background: oklch(0.23 0.01 264.29);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.32 0.01 223.67);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.32 0.01 223.67);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.57 0.2 283.08);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.34 0.18 301.68);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.39 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.67 0.14 261.34);
  --accent-foreground: oklch(0.92 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.39 0 0);
  --input: oklch(0.39 0 0);
  --ring: oklch(0.57 0.2 283.08);
  --chart-1: oklch(0.57 0.2 283.08);
  --chart-2: oklch(0.53 0.17 314.65);
  --chart-3: oklch(0.34 0.18 301.68);
  --chart-4: oklch(0.67 0.14 261.34);
  --chart-5: oklch(0.59 0.1 245.74);
  --sidebar: oklch(0.23 0.01 264.29);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.57 0.2 283.08);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.67 0.14 261.34);
  --sidebar-accent-foreground: oklch(0.92 0 0);
  --sidebar-border: oklch(0.39 0 0);
  --sidebar-ring: oklch(0.57 0.2 283.08);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}
